main {
    width: 80%;
    height: 100%;
    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
    flex-wrap: wrap;
    text-align: center;
    /* background-color: aqua; */
}